#cont{
    width: 25rem;
    height: 20rem;
    background-color: antiquewhite;
}
h1{
    font-size: 1.2rem;
    font-weight: 600;
}
#button-btn{
    width: 8rem;
}
input{
    width: 10rem;
}
select{
    width: 10rem;
}